* {
  padding: 0;
  margin: 0;
}
.puzzle {
  position: relative;
  height: 450px;
  width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.puzzle img {
  position: absolute;
  object-fit: cover;
  transition: all 200ms;
}
.puzzle > img:first-child:nth-last-child(1) {
  width: 100%;
  height: 100%;
}
.puzzle > img:first-child:nth-last-child(2) {
  width: 66.6666667%;
  height: 100%;
  clip-path: polygon(0% 0%,100% 0%,50% 100%,0% 100%);
}
.puzzle > img:first-child:nth-last-child(2) ~ img:nth-of-type(2) {
  width: 66.6666667%;
  height: 100%;
  left: 33.3333333%;
  clip-path: polygon(50% 0%,100% 0%,100% 100%,0% 100%);
}
.puzzle > img:first-child:nth-last-child(3) {
  width: 50%;
  height: 100%;
}
.puzzle > img:first-child:nth-last-child(3) ~ img:nth-of-type(2) {
  width: 50%;
  height: 50%;
  left: 50%;
}
.puzzle > img:first-child:nth-last-child(3) ~ img:nth-of-type(3) {
  width: 50%;
  height: 50%;
  left:50%;
  top:50%;
}
.puzzle > img:first-child:nth-last-child(4) {
  width: 50%;
  height: 50%;
}
.puzzle > img:first-child:nth-last-child(4) ~ img:nth-of-type(2) {
  width: 50%;
  height: 50%;
  left: 50%;
}
.puzzle > img:first-child:nth-last-child(4) ~ img:nth-of-type(3) {
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
}
.puzzle > img:first-child:nth-last-child(4) ~ img:nth-of-type(4) {
  width: 50%;
  height: 50%;
  top: 50%;
}
.puzzle > img:first-child:nth-last-child(5) {
  width: 66.66667%;
  height: 66.66667%;
}
.puzzle > img:first-child:nth-last-child(5) ~ img:nth-of-type(2) {
  width: 33.33333%;
  height: 50%;
  left: 66.66667%;
}
.puzzle > img:first-child:nth-last-child(5) ~ img:nth-of-type(3) {
  width: 33.33333%;
  height: 33.33333%;
  top: 66.66667%;
}
.puzzle > img:first-child:nth-last-child(5) ~ img:nth-of-type(4) {
  width: 33.33333%;
  height: 33.33333%;
  top: 66.666667%;
  left: 33.33333%;
}
.puzzle > img:first-child:nth-last-child(5) ~ img:nth-of-type(5) {
  width: 33.33333%;
  height: 50%;
  left: 66.66667%;
  top: 50%;
}
.puzzle > img:first-child:nth-last-child(6) {
  width: 66.66667%;
  height: 66.66667%;
}
.puzzle > img:first-child:nth-last-child(6) ~ img:nth-of-type(2) {
  width: 33.33333%;
  height: 33.33333%;
  left: 66.66667%;
}
.puzzle > img:first-child:nth-last-child(6) ~ img:nth-of-type(3) {
  width: 33.33333%;
  height: 33.33333%;
  top: 33.33333%;
  left: 66.66667%;
}
.puzzle > img:first-child:nth-last-child(6) ~ img:nth-of-type(4) {
  width: 33.33333%;
  height: 33.33333%;
  top: 66.66667%;
}
.puzzle > img:first-child:nth-last-child(6) ~ img:nth-of-type(5) {
  width: 33.33333%;
  height: 33.33333%;
  top: 66.66667%;
  left: 33.33333%;
}
.puzzle > img:first-child:nth-last-child(6) ~ img:nth-of-type(6) {
  width: 33.33333%;
  height: 33.33333%;
  top: 66.66667%;
  left: 66.66667%;
}